body{
    margin: 0px;
    background-color: burlywood;
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    
}

h1{
    
    color: white;
}

input{
    outline: none;
    background-color: transparent;
    border: none;
    color: white;
    margin: 4px 0px 0px 0px;
}

label{
    color: white;
}

.input-box{
    margin: 0px 4px 0px 4px;
    text-align: start;
    display: flex;
    flex-direction: column;
}

.event-time{
    display: flex;
    flex-direction: row;
    text-align: start;
    justify-content: space-evenly;
}

#card{
    box-shadow: 0 4px 8px 0;
    transition: .3s;
    margin: 4px;
    padding: 8px;
    border-radius: 6px;
    background-color: darkgoldenrod;
    max-width: 800px;
    min-width: 600px;
   
}

#card_list{
   box-shadow: 0 4px 4px 0;
   margin: 6px;
   padding: 12px;
   background-color: bisque;
   max-width: 800px;
   min-width: 600px;
}

.contents{
   display: flex;
   justify-content: space-between;
   align-items: center; 
}